<a href="https://colab.research.google.com/github/Jameslee501/Data-Analysis-with-Open-Source/blob/main/%EC%98%A4%ED%94%88%EC%86%8C%EC%8A%A4_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_5%EA%B0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 오픈소스 기반 데이터 분석 5강 - 데이터 저장

## 5-1 CSV 형식 저장

In [ ]:
import pandas as pd

data = {
    'student_id': [101, 102, 103, 104, 105],
    'database_score': [85, 76, 92, 63, 88],
    'cloudcomputing_score': [78, 82, 95, 70, 84],
    'python_score': [92, 78, 85, 75, 91],
    'watch_rate': [0.95, 0.87, 0.99, 0.80, 0.93]
}
## DataFrame 생성
df = pd.DataFrame(data)
## CSV 형식 저장
df.to_csv('student_analysis.csv', encoding='utf-8', index=False)

## 5-2 JSON 형식 저장

In [ ]:
### 라이브러리 임포트
import json
import pandas as pd

data = {
    "이름": "홍길동",
    "나이": 25,
    "거주지": "서울",
    "관심사": ["프로그래밍", "데이터 분석", "여행"]
}

## json.dump를 이용한 저장
with open('output.json', mode='w', encoding='utf-8') as f:
    json.dump(data, f, indent=4, ensure_ascii=False)

## DataFrame을 이용한 저장
df = pd.DataFrame(data)
df.to_json('output_df.json', orient='records', indent=4, force_ascii=False)

In [ ]:
### 라이브러리 임포트
import json
import pandas as pd

data = {
    "이름": "홍길동",
    "나이": 25,
    "거주지": "서울",
    "관심사": ["프로그래밍", "데이터 분석", "여행"]
}

## json.dump를 이용한 저장
with open('output.json', mode='w', encoding='utf-8') as f:
    json.dump(data, f, indent=4, ensure_ascii=False)

## DataFrame을 이용한 저장, orient!
df = pd.DataFrame([data])
df.to_json('output_df2.json', orient='records', indent=4, force_ascii=False)
df.to_json('output_df3.json', orient='columns', indent=4, force_ascii=False)

## 5-3 Pandas Dataframe 데이터 추출

In [ ]:
import pandas as pd

data = {
    "이름": ["김철수", "이영희", "박민수", "최지훈", "정소희"],
    "학년": [1, 2, 3, 4, 2],
    "학점": [4.2, 3.8, 4.5, 3.9, 3.5],
    "학과": ["컴퓨터학", "경영학", "농학", "교육학", "영어영문학"],
    "동아리": ["프로그래밍", "독서토론", "로봇공학", "봉사활동", "음악감상"]
}
df = pd.DataFrame([data])


## DataFrame 인덱스 출력
print(df.index)
## DataFrame 컬럼 출력
print(df.columns)
## DataFrame 행 출력
print(df.values.tolist())
print(df.values)
## DataFrame 값 출력
print(df.values.flatten())

RangeIndex(start=0, stop=1, step=1)
Index(['이름', '학년', '학점', '학과', '동아리'], dtype='object')
[[['김철수', '이영희', '박민수', '최지훈', '정소희'], [1, 2, 3, 4, 2], [4.2, 3.8, 4.5, 3.9, 3.5], ['컴퓨터학', '경영학', '농학', '교육학', '영어영문학'], ['프로그래밍', '독서토론', '로봇공학', '봉사활동', '음악감상']]]
[[list(['김철수', '이영희', '박민수', '최지훈', '정소희']) list([1, 2, 3, 4, 2])
  list([4.2, 3.8, 4.5, 3.9, 3.5])
  list(['컴퓨터학', '경영학', '농학', '교육학', '영어영문학'])
  list(['프로그래밍', '독서토론', '로봇공학', '봉사활동', '음악감상'])]]
[list(['김철수', '이영희', '박민수', '최지훈', '정소희']) list([1, 2, 3, 4, 2])
 list([4.2, 3.8, 4.5, 3.9, 3.5])
 list(['컴퓨터학', '경영학', '농학', '교육학', '영어영문학'])
 list(['프로그래밍', '독서토론', '로봇공학', '봉사활동', '음악감상'])]

In [5]:
import pandas as pd
import json

with open("targetdata.json", "r", encoding = "utf-8") as f:
    data = json.load(f)
df = pd.DataFrame([data])

## DataFrame 인덱스 출력
print(df.index)
## DataFrame 컬럼 출력
print(df.columns)
## DataFrame 행 출력
print(df.values.tolist())
print(df.values)
## DataFrame 값 출력
print(df.values.flatten())

JSONDecodeError: Extra data: line 2 column 1 (char 129)

## 5-4 DataFrame 생성 방법

In [ ]:
import pandas as pd
import json

data = {
    "이름": ["김철수", "이영희", "박민수", "최지훈", "정소희"],
    "학년": [1, 2, 3, 4, 2],
    "학점": [4.2, 3.8, 4.5, 3.9, 3.5],
    "학과": ["컴퓨터공학", "경영학", "전자공학", "의학", "심리학"],
    "동아리": ["프로그래밍", "독서토론", "로봇공학", "봉사활동", "음악감상"]
}

## 딕셔너리, csv, json으로 부터 DataFrame 생성
df1 = pd.DataFrame.from_dict(data)
df2 = pd.read_csv('students.csv')
df3 = pd.read_json('students.json')

## 세가지 방법 결과 비교
print(df1.shape)
print(df2.shape)
print(df3.shape)

(5, 5)
(5, 5)
(5, 5)

In [18]:
import pandas as pd
import json

## json으로 부터 DataFrame 생성
df = pd.read_json("targetdata.json", lines=True)
print(df)

       연도   월   현년 전기사용량    현년 가스사용량      현년 수도사용량   현년 지역난방 사용량
0    2015   1  193784708  59133720.0  1.281976e+07  2.274084e+07
1    2015   2  189974230  56487358.0  1.265689e+07  1.879332e+07
2    2015   3  189974230  56487358.0  1.265689e+07  1.879332e+07
3    2015   4  189974230  56487358.0  1.265689e+07  1.879332e+07
4    2015   5  177289769  22060892.0  1.308673e+07  1.320896e+06
..    ...  ..        ...         ...           ...           ...
115  2024   8  463971328   7072251.0  1.587354e+07  1.300823e+05
116  2024   9  409872908   5729131.0  1.514332e+07  3.420507e+06
117  2024  10  282268119   8233421.0  1.529767e+07  2.695491e+06
118  2024  11  257927956  17418221.0  1.467867e+07  8.836296e+06
119  2024  12  134828126  42103424.0  7.326854e+06  1.513199e+06

[120 rows x 6 columns]

## 5-5 DataFrame 저장 방법

In [ ]:
import pandas as pd

data = {
    "이름": ["김철수", "이영희", "박민수", "최지훈", "정소희"],
    "학년": [1, 2, 3, 4, 2],
    "학점": [4.2, 3.8, 4.5, 3.9, 3.5],
    "학과": ["컴퓨터공학", "경영학", "전자공학", "의학", "심리학"],
    "동아리": ["프로그래밍", "독서토론", "로봇공학", "봉사활동", "음악감상"]
}

## Dataframe 생성
df1 = pd.DataFrame(data)

## CSV, JSON 형식으로 저장
df.to_csv('students_scores.csv')
df.to_json('students_scores.json')
## HTML 형식으로 저장
html_table = df.to_html()
print(html_table)
with open('students_scores.html', 'w') as f:
    f.write(html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>이름</th>
      <th>학년</th>
      <th>학점</th>
      <th>학과</th>
      <th>동아리</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>[김철수, 이영희, 박민수, 최지훈, 정소희]</td>
      <td>[1, 2, 3, 4, 2]</td>
      <td>[4.2, 3.8, 4.5, 3.9, 3.5]</td>
      <td>[컴퓨터학, 경영학, 농학, 교육학, 영어영문학]</td>
      <td>[프로그래밍, 독서토론, 로봇공학, 봉사활동, 음악감상]</td>
    </tr>
  </tbody>
</table>

## 5-6 실습 시나리오

## 데이터 수집

In [ ]:
import requests

url = "http://apis.data.go.kr/B552584/ArpltnInforInqireSvc/getMinuDustFrcstDspth"
api_key = '[발급받은 인증키]'

params = {
    'serviceKey': api_key,
    'returnType': 'json',
    'numOfRows': '100',
    'pageNo': '1',
    'sidoName': '서울',
    'ver': '1.0'
}

## 데이터 수집
response = requests.get(url, params=params)

## 호출 성공/실패 출력
print(response.json())

## 데이터 프레임 생성

In [ ]:
import pandas as pd

## requests로부터 response, body, item 항목 읽기
data = response.json()['response']['body']['items']
print(type(data))
print(len(data))
print(data[0])
df = pd.DataFrame(data)
df['pm25Grade']

In [2]:
import pandas as pd

    with open("targetdata.json", "w", encoding="utf-8") as f:

## targetdata로부터 response, body, item 항목 읽기
data = targetdata.json()['response']['body']['items']
print(type(data))
print(len(data))
print(data[0])
df = pd.DataFrame(data)
df['pm25Grade']

IndentationError: expected an indented block after 'with' statement on line 3 (ipython-input-3403957192.py, line 6)

## 다양항 형식으로 데이터 저장

In [ ]:
## save as CSV
df.to_csv('air_pollution.csv', index=False, encoding='utf-8')

## JSON 형식 데이터 저장
df.to_json('air_pollution.json', indent=4, force_ascii=False)

## EXCEL 형식 데이터 저장
df.to_excel('air_pollution.json', index=False)
## HTML 형식 데이터 저장
df.to_html('air_pollution.html')